@import url("http://fonts.cdnfonts.com/css/croxoxoiantext");

@font-face {
  font-family: "CroxoxoianText", sans-serif;
  src: url("http://fonts.cdnfonts.com/css/croxoxoiantext");
}
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
}

* {
  /*Quitar toda la separación*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


  body {
  font-family: "CroxoxoianText", sans-serif;
  /*overflow-x: hidden;
  width: 100%;*/
}


.container-icons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  color: #642a73;
  font-size: 30 px;
  text-align: center;
  margin-bottom: 60px;
}
/* Header */
@media screen and (min-width: 1920px) {
  header {
    max-height: 50em;
    background: url("../img/Recurso_7.png");
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 0;
    
  }
  header .text-header {
    /*Para usar flexbox*/
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding: 100px 0 0 120px;
    font-weight: bold;
  }
  header .div_img_craft {
    /*Para usar flexbox*/
    display: block;
    height: 100%;
    width: 100%;
    /*para que un texto se ponga debajo del otro*/
    flex-direction: column;
    font-weight: bold;
  }
  .img_craft {
    width: 60%;
    /*padding-right: 310px;*/
    margin-left: 10px;
    position: relative;
    z-index: 2;
    float: right;
    bottom: 250px;
    left: 7%;
    transform: rotate(30deg);
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    /*overflow: hidden;*/
    /*clip-path: inset(0px 310px 0px 0px);*/
  }
  .text-header h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    font-family: "CroxoxoianText", sans-serif;
    font-weight: bold;
    font-size: 120px;
    color: #ffffff;
  }
  .text-header .h12 {
    padding: 0 0 0 90px;
  }

  .text-header h2 {
    display: none;
    padding: 0 0 0 90px;
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
  }
  

  .img_planet {
    width: 35%;
    padding-right: 20px;
    margin-left: 20%;
    position: relative;
    z-index: 0;
    float: right;
    bottom: 1170px;
    left: 10%;
    /*overflow: hidden;*/
    /*clip-path: inset(0px 310px 0px 0px);*/
  }

  .img_separator {
    width: 3000px;
    /*padding-right: 310px;*/
    position: relative;
    z-index: 1;
    bottom: 1730px;
    right: 750px;
  }
  .cards-section {
    position: absolute;
    margin-top: 1000px;
    justify-content: center;
    height: 970px;
    background: url("../img/footer_background_home.png");
    background-size: 2000px;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    z-index: -1;
    /*background-position-x: -1px;*/
  }
  .card-section {
    width: 18rem;
    min-height: 350px;
    margin-left: 15%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .novedades {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100vw;
    background-color: black;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .row-slides {
    position: relative;
    height: 100%;
    /*background: #642a73;*/
    font-size: 14px;
    color: #000;
    overflow-x: hidden;
    overflow-y: hidden;
    /*margin: 0;
      padding: 0;*/
  }

}
.custom-shape-divider-bottom-1623101527 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

nav {
  text-align: right;
  padding: 40px 50px 0 0;
}

/*todos los hijos directos a de nav*/

nav > a {
  position: relative;
  z-index: 10000;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  font-weight: bold;

  font-weight: 300;
  text-decoration: none;
  /*para separar un item del nav del otro*/
  margin-right: 20px;
  border-radius: 20px;
  padding: 6px 15px;
}

/*css cuando el mouse pasa por ahí*/

nav > a:hover {
  background: #ffffff;
  color: rgb(64, 0, 0);
  text-shadow: none;
}
@media screen and (max-width: 1366px) {
  header {
    max-height: 50em;
    background: url("../img/Recurso_7.png");
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 0;
    
  }
  header .text-header {
    /*Para usar flexbox*/
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding: 100px 0 0 120px;
    font-weight: bold;
  }
  header .div_img_craft {
    /*Para usar flexbox*/
    display: block;
    height: 100%;
    width: 100%;
    /*para que un texto se ponga debajo del otro*/
    flex-direction: column;
    font-weight: bold;
  }
  .img_craft {
    width: 53%;
    /*padding-right: 310px;*/
    margin-left: 10px;
    position: relative;
    z-index: 2;
    float: right;
    bottom: 150px;
    left: 7%;
    transform: rotate(30deg);
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    /*overflow: hidden;*/
    /*clip-path: inset(0px 310px 0px 0px);*/
  }
  .text-header h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    font-family: "CroxoxoianText", sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: #ffffff;
  }
  .text-header .h12 {
    padding: 0 0 0 90px;
  }

  .text-header h2 {
    display: none;
    padding: 0 0 0 90px;
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
  }
  

  .img_planet {
    width: 35%;
    padding-right: 20px;
    margin-left: 20%;
    position: relative;
    z-index: 0;
    float: right;
    bottom: 850px;
    left: 10%;
    /*overflow: hidden;*/
    /*clip-path: inset(0px 310px 0px 0px);*/
  }

  .img_separator {
    width: 3000px;
    /*padding-right: 310px;*/
    position: relative;
    z-index: 1;
    bottom: 1330px;
    right: 750px;
  }
  .cards-section {
    position: absolute;
    margin-top: 1000px;
    justify-content: center;
    height: 970px;
    background: url("../img/footer_background_home.png");
    background-size: 2000px;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    z-index: -1;
    
    /*background-position-x: -1px;*/
  }
  .card-section {
    width: 18rem;
    min-height: 350px;
    margin-left: 10%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .novedades {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 102.3%;
    background-color: black;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .row-slides {
    position: relative;
    height: 100%;
    /*background: #642a73;*/
    font-size: 14px;
    color: #000;
    overflow-x: hidden;
    overflow-y: hidden;
    /*margin: 0;
      padding: 0;*/
  }

}
@media screen and (max-width: 1024px) {
  header {
    max-height: 50em;
    background: url("../img/Recurso_7.png");
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 0;
    
  }
  header .text-header {
    /*Para usar flexbox*/
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding: 100px 0 0 120px;
    font-weight: bold;
  }
  header .div_img_craft {
    /*Para usar flexbox*/
    display: block;
    height: 100%;
    width: 100%;
    /*para que un texto se ponga debajo del otro*/
    flex-direction: column;
    font-weight: bold;
  }
  .img_craft {
    width: 50%;
    /*padding-right: 310px;*/
    margin-left: 10px;
    position: relative;
    z-index: 2;
    float: right;
    bottom: 150px;
    left: 7%;
    transform: rotate(30deg);
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    /*overflow: hidden;*/
    /*clip-path: inset(0px 310px 0px 0px);*/
  }
  .text-header h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    font-family: "CroxoxoianText", sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #ffffff;
  }
  .text-header .h12 {
    padding: 0 0 0 90px;
  }

  .text-header h2 {
    display: none;
    padding: 0 0 0 90px;
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
  }
  

  .img_planet {
    width: 35%;
    padding-right: 20px;
    margin-left: 20%;
    position: relative;
    z-index: 0;
    float: right;
    bottom: 750px;
    left: 10%;
    /*overflow: hidden;*/
    /*clip-path: inset(0px 310px 0px 0px);*/
  }

  .img_separator {
    width: 2500px;
    /*padding-right: 310px;*/
    position: relative;
    z-index: 1;
    bottom: 1000px;
    right: 750px;
  }
  .cards-section {
    position: absolute;
    margin-top: 1000px;
    justify-content: center;
    height: 970px;
    background: url("../img/footer_background_home.png");
    background-size: 2000px;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    z-index: -1;
    
    /*background-position-x: -1px;*/
  }
  .card-section {
    width: 16rem;
    min-height: 350px;
    margin-left: 7%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .novedades {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 103.1%;
    background-color: black;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .row-slides {
    position: relative;
    height: 100%;
    /*background: #642a73;*/
    font-size: 14px;
    color: #000;
    overflow-x: hidden;
    overflow-y: hidden;
    /*margin: 0;
      padding: 0;*/
  }

}
@media screen and (max-width: 920px) {
  header {
    max-height: 30em;
    background: url("../img/Recurso_7.png");
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 0;
    
  }
  header .text-header {
    /*Para usar flexbox*/
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding: 100px 0 0 120px;
    font-weight: bold;
  }
  header .div_img_craft {
    /*Para usar flexbox*/
    display: block;
    height: 100%;
    width: 100%;
    /*para que un texto se ponga debajo del otro*/
    flex-direction: column;
    font-weight: bold;
  }
  .img_craft {
    width: 53%;
    /*padding-right: 310px;*/
    margin-left: 10px;
    position: relative;
    z-index: 2;
    float: right;
    bottom: 150px;
    left: 7%;
    transform: rotate(30deg);
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    /*overflow: hidden;*/
    /*clip-path: inset(0px 310px 0px 0px);*/
  }
  .text-header h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    font-family: "CroxoxoianText", sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: #ffffff;
  }
  .text-header .h12 {
    padding: 0 0 0 90px;
  }

  .text-header h2 {
    display: none;
    padding: 0 0 0 90px;
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
  }


  .img_planet {
    width: 35%;
    padding-right: 20px;
    margin-left: 20%;
    position: relative;
    z-index: 0;
    float: right;
    bottom: 850px;
    left: 10%;
    /*overflow: hidden;*/
    /*clip-path: inset(0px 310px 0px 0px);*/
  }

  .img_separator {
    width: 3000px;
    /*padding-right: 310px;*/
    position: relative;
    z-index: 1;
    bottom: 1330px;
    right: 750px;
  }
  .cards-section {
    position: absolute;
    margin-top: 1000px;
    justify-content: center;
    height: 970px;
    background: url("../img/footer_background_home.png");
    background-size: 2000px;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    z-index: -1;
    
    /*background-position-x: -1px;*/
  }
  .card-section {
    width: 18rem;
    min-height: 350px;
    margin-left: 25%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .novedades {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 102.3%;
    background-color: black;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .row-slides {
    position: relative;
    height: 100%;
    /*background: #642a73;*/
    font-size: 14px;
    color: #000;
    overflow-x: hidden;
    overflow-y: hidden;
    /*margin: 0;
      padding: 0;*/
  }
}
/*
header .text-header {
  /*Para usar flexbox
  display: flex;
  height: 430px;
  width: 60%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding: 0 0 0 90px;
  font-weight: bold;
}

.text-header h1 {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  font-family: "CroxoxoianText", sans-serif;
  font-weight: bold;
  font-size: 90px;
  color: #ffffff;
}

.text-header .h12 {
  padding: 0 0 0 90px;
}

.text-header h2 {
  display: none;
  padding: 0 0 0 90px;
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
}*/

.a_logo {
  padding-left: 50px;
  position: absolute;
  padding-top: 10px;
}

.logo {
  position: absolute;
  max-width: 60px;
}
/*
header .div_img_craft {
  /*Para usar flexbox
  display: block;
  height: 430px;
  width: 80%;
  /*para que un texto se ponga debajo del otro
  flex-direction: column;
  font-weight: bold;
}

.img_craft {
  width: 76%;
  /*padding-right: 310px;
  margin-left: 30%;
  position: relative;
  z-index: 1;
  float: right;
  bottom: 80%;
  left: 25%;
  transform: rotate(28deg);
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  /*overflow: hidden;*/
  /*clip-path: inset(0px 310px 0px 0px);
}

.img_planet {
  width: 30%;
  /*padding-right: 310px;
  margin-left: 20%;
  position: relative;
  z-index: 0;
  float: right;
  bottom: 270%;
  left: 10%;
  /*overflow: hidden;*/
  /*clip-path: inset(0px 310px 0px 0px);
}

.img_separator {
  width: 2200px;
  /*padding-right: 310px;
  position: relative;
  z-index: 0;
  bottom: 1500px;
  right: 555px;
}*/

.iconosEstad {
  /*width: 150px;
    height: 6.8em;*/
  text-align: center;
  font-size: 140px;
  background: -moz-linear-gradient(
    175deg,
    rgba(201, 2, 2, 1) 0%,
    rgba(108, 0, 0, 1) 65%
  );
  background: -webkit-linear-gradient(
    175deg,
    rgba(201, 2, 2, 1) 0%,
    rgba(108, 0, 0, 1) 65%
  );
  background: linear-gradient(
    175deg,
    rgba(201, 2, 2, 1) 0%,
    rgba(108, 0, 0, 1) 65%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icons-title {
  font-size: 32px;
}

.card-01 {
  /*background: #03D29F;*/
  position: relative;
  flex: 1;
  width: 250px;
  max-width: 300px;
  height: 150px;
  margin: 10px;
  /*border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);*/
}

@media (max-width: 800px) {
  .card-01 {
    flex: 100%;
    max-width: 600px;
  }

  .card-02 {
    flex: 100%;
    max-width: 600px;
  }

  .card-03 {
    flex: 100%;
    max-width: 600px;
  }
}

.marathons-section {
  /*background-color: #642a73;*/
  height: 700px;
  /*display: inline-block;*/
  position: absolute;
  margin-top: 300px;
}
/*
.cards-section {
  position: absolute;
  margin-top: 1000px;
  justify-content: center;
  height: 970px;
  background: url("../img/footer_background_home.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  /*background-position-x: -1px;
}*/



.row-cards {
  margin-top: 300px;
  margin-bottom: 100px;
}

.card-item {
  width: 100px;
}

.main-container-slides {
  width: 100%;
}

/*.card-section {
  width: 18rem;
  min-height: 350px;
  margin-left: 15%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}*/

.img-card {
  min-height: 170px;
}

.section-card-body {
  background-color: #440521;
  color: #fff;
}

/*ESTILO slides*/

.swiper {
  width: 100vw;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 100vw;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  max-width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: center center;
}

/*ESTILO COLORES*/

.container-animated {
  background: #f2f4f6;
}
.animated {
  display: flex;
  align-items: center;
  justify-content: center;
  /*height: 100vh*/
}
.wrapper {
  width: 100vw;
  height: 700px;
  background: #a60808;
  position: relative;
  overflow: hidden;
}
.wrapper div {
  position: absolute;
  filter: blur(50px);
  opacity: 0.8;
  -webkit-filter: blur(50px);
}
.animated .one {
  border-radius: 100%;
  width: 600px;
  height: 600px;
  background-color: #a60808;
  left: -50px;
  top: -300px;
  z-index: 3;
  animation: fly 12s linear infinite;
  transform: rotate(0) translate(80px) rotate(0);
}
.animated .two {
  width: 500px;
  height: 800px;
  background-color: #ff333d;
  bottom: -30px;
  left: -80px;
}
.animated .three {
  border-radius: 100%;
  width: 450px;
  height: 450px;
  bottom: -80px;
  right: -100px;
  background-color: #c70039;
  animation: flyPlus 10s linear infinite;
  -webkit-animation: flyPlus 10s linear infinite;
  transform: rotate(0) translate(200px) rotate(0);
  -webkit-transform: rotate(0) translate(200px) rotate(0);
  -moz-transform: rotate(0) translate(200px) rotate(0);
  -ms-transform: rotate(0) translate(200px) rotate(0);
  -o-transform: rotate(0) translate(200px) rotate(0);
}
.four {
  border-radius: 100%;
  width: 350px;
  height: 350px;
  margin: auto;
  bottom: 0;
  right: 0;
  background-color: #ff5733;
  animation: flyPlus 15s linear infinite;
  -webkit-animation: flyPlus 15s linear infinite;
  transform: rotate(0) translate(200px) rotate(0);
  -webkit-transform: rotate(0) translate(200px) rotate(0);
  -moz-transform: rotate(0) translate(200px) rotate(0);
  -ms-transform: rotate(0) translate(200px) rotate(0);
  -o-transform: rotate(0) translate(200px) rotate(0);
}
.animated .wrapper .text {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  opacity: 1;
  filter: unset;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes fly {
  100% {
    transform: rotate(2turn) translate(200px) rotate(-2turn);
    -webkit-transform: rotate(2turn) translate(200px) rotate(-2turn);
    -moz-transform: rotate(2turn) translate(200px) rotate(-2turn);
    -ms-transform: rotate(2turn) translate(200px) rotate(-2turn);
    -o-transform: rotate(2turn) translate(200px) rotate(-2turn);
  }
}
@keyframes flyPlus {
  100% {
    transform: rotate(-2turn) translate(200px) rotate(2turn);
    -webkit-transform: rotate(-2turn) translate(200px) rotate(2turn);
    -moz-transform: rotate(-2turn) translate(200px) rotate(2turn);
    -ms-transform: rotate(-2turn) translate(200px) rotate(2turn);
    -o-transform: rotate(-2turn) translate(200px) rotate(2turn);
  }
}

.section-slide {
  padding: 0;
  width: 100vw;
}



.footer-container {
  position: absolute;
  margin-top: 1900px;
  background-color: #000000;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-section-images {
  margin: auto;
  padding-left: 400px;
  padding-right: 400px;
}

.footer-silux-img {
  width: 150px;
}

.footer-logo-img {
  width: 80px;
}
.footer-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

/*botón up*/
.up-button {
  display: none;
  background: #e93e3e;

  border-radius: 100%;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 999999999;
}
/*evento hover*/
.up-button:hover {
  box-shadow: 0px 2px 10px 0px rgba(255, 255, 255, 0.75);
}
/*estilos para el tag i*/
.up-button i {
  color: #fff;
  font-size: 1.5em;
  padding: 10px 10px 10px 7px;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}

/*FIXES*/

.modal-title {
  text-align: center;
  width: 100%;
}

.modal-header {
  border: none;
  z-index: 10000;
}

.modal-body {
  text-align: center;
  padding-bottom: 0;
}

.modal-footer {
  justify-content: center;
  border: none;
  padding-top: 0;
}

.modal-backdrop.in {
  filter: alpha(opacity=90);
  opacity: 0.9;
}

.modal-content {
  border-radius: 0em;
}

.form-control,
.form-control:focus {
  border-radius: 0.125em;
  border-color: #aaa;
  box-shadow: none;
}
/*Estilos not-logged*/
.login-titulo {
  padding-bottom: 1em;
  color: white;
}
.ufps-container-sign {
  min-height: 100%;
  background-color: #9e0c24;
  padding-top: 1em;
}

.ufps-container-sign .ufps-logo-sign {
  margin-top: 1em;
  height: 5em;
}

.ufps-logo-sign-in {
  margin-top: 1.25em;
  height: 5em;
}

.ufps-form-sign {
  margin-top: 1.6em;
  padding-bottom: 1em;
}
.container-sign {
  background-color: #9e0c24;
}
.container-registro {
  padding: 1em;
}
.titulo-registro {
  margin-top: 1em;
  color: #9e0c24;
}

.ufps-container-sign h1 {
  font-size: 1.5em;
}

.ufps-container-sign h1,
.ufps-container-sign label,
.ufps-container-sign p {
  color: #fff;
}

/*.row {
  padding-left: 1em;
}

.ufps-container-sign .ufps-sign-input,
.ufps-navbar-input {
  box-shadow: 0 0 0.0625em #9e0c24;
  border: none;
  height: 2.8125em;
  border-radius: 0.125em;
  font-size: 1em;
  transition: all 0.3s ease;
}

.ufps-navbar-input {
  box-shadow: none;
}

.ufps-container-logged {
  margin-top: 1em;
}

.ufps-input-navbar-addon {
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding-top: 0.5em;
  padding-right: 0.5em;
  margin-right: 0;
  border-radius: 0 0.1em 0.1em 0;
}*/

.ufps-navbar-input:focus {
  box-shadow: none;
}

.ufps-btn-sign {
  width: 100%;
  height: 2.8125em;
  border: 0.0625em solid #ecf0f1;
  color: #fff;
  font-size: 1em;
  border-radius: 0.125em;
  background-color: #9e0c24;
  margin-top: 1.25em;
  transition: all 0.3s ease;
}

.ufps-btn-sign:hover,
.ufps-btn-sign:active,
.ufps-btn-sign:hover:active,
.ufps-btn-sign:focus {
  background-color: #fff;
  color: #c0392b;
  box-shadow: 0 0 0.625em #c0392b;
}

.ufps-container-sign .ufps-btn-sign:focus {
  outline: 0;
  background-color: #fff;
  border: 0.0625em solid #bdc3c7;
}

.ufps-sign-links {
  display: inline;
  padding-left: 1em;
}

.linksign {
  margin-top: 1.2em;
  padding-bottom: 3em;
}

.ufps-sign-links,
.ufps-sign-links a {
  color: #fff;
  cursor: pointer;
}

.ufps-sign-about {
  margin-top: 2.5em;
  padding-bottom: 1em;
}

.ufps-sign-about p {
  color: #fff;
  font-size: 0.875em;
}

.ufps-sign-in-correct,
.ufps-sign-in-incorrect {
  color: #fff;
}

/*Formulario de registro*/
.form-group {
  width: 20em;
  display: inline-block;
  padding-left: 0em;
  margin-top: 0.5em;
}
.ufps-form-inline {
  position: relative;
  margin-bottom: 1.25em;
}

.ufps-form-inline input {
  font-size: 0.87em;
  padding: 0.3125em 0.625em 0.8em 0.3125em;
  background: transparent !important;
  display: block;
  width: 100%;
  border: none;
  color: #fff;
  border-bottom: 0.0625em solid #fff;
}

.ufps-form-inline input:focus {
  outline: none;
}

.ufps-form-inline label {
  color: #fff;
  font-size: 0.9em;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0.3125em;
  top: 0.2em;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.ufps-form-inline input:focus ~ label,
.ufps-form-inline input:valid ~ label {
  top: -1.3em;
  font-size: 0.75em;
  font-weight: bold;
  color: #fff;
}

.ufps-form-inline .ufps-form-bar {
  position: relative;
  display: block;
  width: 100%;
}

.ufps-form-inline .ufps-form-bar:before,
.ufps-form-inline .ufps-form-bar:after {
  content: "";
  height: 0.125em;
  width: 0;
  bottom: 0.0625em;
  position: absolute;
  background: #fff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.ufps-form-inline .ufps-form-bar:before {
  left: 50%;
}

.ufps-form-inline .ufps-form-bar:after {
  right: 50%;
}

.ufps-form-inline input:focus ~ .ufps-form-bar:before,
.ufps-form-inline input:focus ~ .ufps-form-bar:after {
  width: 50%;
}
/*Notificaciones*/

.alert {
  position: fixed;
  z-index: 10000000;
  font-family: Helvetica Neue, Helvetica, san-serif;
  font-size: 1em;
  top: 4.0625em;
  left: 30%;
  width: 40%;
  color: #444;
  padding: 0.625em;
  opacity: 0.9;
  text-align: center;
  background-color: #fff;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0.1875em;
  border-bottom-left-radius: 0.1875em;
  box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease;
}

.alert:hover {
  opacity: 1;
}

.alert-success {
  background-color: #18bc9c;
  color: #fff;
}

.alert-danger {
  background-color: #9e0c24;
  color: #fff;
}

.alert-info {
  background-color: #3498db;
  color: #fff;
}

.alert-warning {
  background-color: #ff9800;
  color: #fff;
}
