@import url('http://fonts.cdnfonts.com/css/croxoxoiantext');

@font-face {
     font-family: 'CroxoxoianText', sans-serif;
     src: url('http://fonts.cdnfonts.com/css/croxoxoiantext');
 }
 @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
 @font-face {
    font-family: 'Ubuntu', sans-serif;
    src:url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
 }

* {
    /*Quitar toda la separación*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'CroxoxoianText', sans-serif;
    overflow-x: hidden;
    width: 100%;
}

.container-icons {
    position:absolute;
    min-width: 100% ;
    display: flex;
    justify-content: center;

}

.title {
    color: #642a73;
    font-size: 30 px;
    text-align: center;
    margin-bottom: 60px;
}


/* Header */

header {
    width: 100%;
    height: 700px;
    background: url("../img/Recurso_7.png");
    background-position:center;
    background-size: auto;
    background-attachment: fixed;
    position: relative;
}

.custom-shape-divider-bottom-1623101527 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

nav {
    text-align: right;
    padding: 40px 50px 0 0;
}


/*todos los hijos directos a de nav*/

nav>a {
    position: relative;
    z-index: 10000;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    font-weight: bold;

    font-weight: 300;
    text-decoration: none;
    /*para separar un item del nav del otro*/
    margin-right: 20px;
    border-radius: 20px;
    padding: 6px 15px;
}

/*css cuando el mouse pasa por ahí*/

nav>a:hover {
    background: #ffffff;
    color: rgb(64, 0, 0);
    text-shadow: none;
}

header .text-header {
    /*Para usar flexbox*/
    display: flex;
    height: 430px;
    width: 60%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding: 0 0 0 90px;
    font-weight: bold;
}

.text-header h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    font-family: 'CroxoxoianText', sans-serif;
    font-weight: bold;
    font-size: 90px;
    color: #ffffff;

}

.text-header .h12 {
    padding: 0 0 0 90px;
}

.text-header h2 {
    display: none;
    padding: 0 0 0 90px;
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
}

.a_logo {
    padding-left: 50px;
    position: absolute;
    padding-top: 10px;
}

.logo{
    position: absolute;
    max-width: 60px;
}

header .div_img_craft {
    /*Para usar flexbox*/
    display: block;
    height: 430px;
    width: 100%;
    /*para que un texto se ponga debajo del otro*/
    flex-direction: column;
    font-weight: bold;
}


.img_craft {
    width: 1000px;
    /*padding-right: 310px;*/
    margin-left: 300px;
    position:relative;
    z-index: 1;
    float: right;
    bottom: 380px;
    left: 380px;
    transform: rotate(28deg);
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    /*overflow: hidden;*/
    /*clip-path: inset(0px 310px 0px 0px);*/
}

.img_planet{
    width: 500px;
    /*padding-right: 310px;*/
    margin-left: 300px;
    position:relative;
    z-index: 0;
    float: right;
    bottom: 1120px;
    left: 100px;
    /*overflow: hidden;*/
    /*clip-path: inset(0px 310px 0px 0px);*/
}

.img_separator{
    width: 2200px;
    /*padding-right: 310px;*/
    position:relative;
    z-index: 0;
    bottom: 1500px;
    right: 555px;
}



.iconosEstad {
    /*width: 150px;
    height: 6.8em;*/
    text-align: center;
    font-size: 140px;
    background: -moz-linear-gradient(175deg, rgba(201,2,2,1) 0%, rgba(108,0,0,1) 65%);
    background: -webkit-linear-gradient(175deg, rgba(201,2,2,1) 0%, rgba(108,0,0,1) 65%);
    background: linear-gradient(175deg, rgba(201,2,2,1) 0%, rgba(108,0,0,1) 65%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icons-title{
    font-size: 32px;
}

  
  .card-01{
    /*background: #03D29F;*/
    position: relative;
    flex: 1;
    width: 250px;
    max-width: 300px;
    height: 150px;
    margin: 10px;
    /*border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);*/
  }

  @media (max-width:800px){
    .card-01{
      flex: 100%;
      max-width: 600px;
    }
  
    .card-02{
      flex: 100%;
      max-width: 600px;
    }
  
    .card-03{
      flex: 100%;
      max-width: 600px;
    }
  }

  .marathons-section{
    /*background-color: #642a73;*/
    height: 700px;
    /*display: inline-block;*/
    position: absolute;
    margin-top: 300px;
  }

  .cards-section {
    position: absolute;
    margin-top: 1000px;
    justify-content: center;
    height:970px;
    background: url("../img/footer_background_home.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    /*background-position-x: -1px;*/
  }

  .row-slides{
    position: relative;
    height: 100%;
    /*background: #642a73;*/
    font-size: 14px;
    color: #000;
    /*margin: 0;
    padding: 0;*/
  }

  .row-cards {
    margin-top: 300px;
    margin-bottom: 100px;
  }

  .card-item{
    width: 100px;
  }

  .main-container-slides{
    width: 100%;
  }

  .card-section {
    width: 18rem;
    min-height: 350px;
    margin-left: 15%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .img-card {
    min-height: 170px;
  }

  .section-card-body {
    background-color: #440521 ;
    color: #fff;
  }

  

  /*ESTILO slides*/

  .swiper {
    width: 100vw;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 100vw;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    max-width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: center center;
  }

  /*ESTILO COLORES*/

  .container-animated {
    background: #f2f4f6;
  }
  .animated {
    display: flex;
    align-items: center;
    justify-content: center;
    /*height: 100vh*/;
  }
  .wrapper {
    width: 100vw;
    height: 700px;
    background: #A60808;
    position: relative;
    overflow: hidden;
  }
  .wrapper div {
    position: absolute;
    filter: blur(50px);
    opacity: 0.8;
    -webkit-filter: blur(50px);
  }
  .animated .one {
    border-radius: 100%;
    width: 600px;
    height: 600px;
    background-color: #A60808;
    left: -50px;
    top: -300px;
    z-index: 3;
    animation: fly 12s linear infinite;
    transform: rotate(0) translate(80px) rotate(0);
  }
  .animated .two {
    width: 500px;
    height: 800px;
    background-color: #ff333d;
    bottom: -30px;
    left: -80px;
  }
  .animated .three {
    border-radius: 100%;
    width: 450px;
    height: 450px;
    bottom: -80px;
    right: -100px;
    background-color: #C70039;
    animation: flyPlus 10s linear infinite;
    -webkit-animation: flyPlus 10s linear infinite;
    transform: rotate(0) translate(200px) rotate(0);
    -webkit-transform: rotate(0) translate(200px) rotate(0);
    -moz-transform: rotate(0) translate(200px) rotate(0);
    -ms-transform: rotate(0) translate(200px) rotate(0);
    -o-transform: rotate(0) translate(200px) rotate(0);
  }
  .four {
    border-radius: 100%;
    width: 350px;
    height: 350px;
    margin: auto;
    bottom: 0;
    right: 0;
    background-color: #FF5733;
    animation: flyPlus 15s linear infinite;
    -webkit-animation: flyPlus 15s linear infinite;
    transform: rotate(0) translate(200px) rotate(0);
    -webkit-transform: rotate(0) translate(200px) rotate(0);
    -moz-transform: rotate(0) translate(200px) rotate(0);
    -ms-transform: rotate(0) translate(200px) rotate(0);
    -o-transform: rotate(0) translate(200px) rotate(0);
  }
  .animated .wrapper .text {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    opacity: 1;
    filter: unset;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @keyframes fly {
    100% {
      transform: rotate(2turn) translate(200px) rotate(-2turn);
      -webkit-transform: rotate(2turn) translate(200px) rotate(-2turn);
      -moz-transform: rotate(2turn) translate(200px) rotate(-2turn);
      -ms-transform: rotate(2turn) translate(200px) rotate(-2turn);
      -o-transform: rotate(2turn) translate(200px) rotate(-2turn);
  }
  }
  @keyframes flyPlus {
    100% {
      transform: rotate(-2turn) translate(200px) rotate(2turn);
      -webkit-transform: rotate(-2turn) translate(200px) rotate(2turn);
      -moz-transform: rotate(-2turn) translate(200px) rotate(2turn);
      -ms-transform: rotate(-2turn) translate(200px) rotate(2turn);
      -o-transform: rotate(-2turn) translate(200px) rotate(2turn);
  }
  }

  .section-slide{
    padding: 0;
  }

  .novedades {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100vw;
    background-color: black;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
  }

  .footer-container{
    position: absolute;
    margin-top:1900px;
    background-color: #000000;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .footer-section-images{
    margin: auto;
    padding-left: 400px;
    padding-right: 400px;
  }

  .footer-silux-img {
    width: 150px;
  }

  .footer-logo-img {
    width: 80px;
  }
  .footer-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
  }

/*botón up*/
.up-button{
  display: none;
  background: #e93e3e;

  border-radius: 100%;
  position: fixed;
  right: 15px;
  bottom:15px;
  z-index: 999999999;
}
/*evento hover*/
.up-button:hover{
  box-shadow:   0px 2px 10px 0px rgba(255, 255, 255, 0.75);
}
/*estilos para el tag i*/
.up-button i{
  color: #fff;
  font-size: 1.5em;
  padding: 10px 10px 10px 7px;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}