/*Normalización*/

html,
body {
  height: 100%;
}

pre {
  font-family: monospace;
}

.navbar-toggle {
  margin-top: 13px;
  margin-bottom: 13px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 3px;
  border-radius: 1px;
  background-color: #FFF;
}

.navbar-collapse.collapse.in {
  background-color: #e74c3c;
}

@media (max-width: 767px) {
  table {
    display: block;
    overflow-x: auto;
  }
  .breadcrumb {
    display: none;
  }
}

@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
    overflow-y: auto !important;
  }
}

.nav>li>a:focus,
.nav>li>a:hover {
  background-color: transparent !important;
}

/*Estilos not-logged*/

.ufps-container-sign {
  min-height: 100%;
  background-color: #E74C3C;
}

.ufps-container-sign .ufps-logo-sign {
  margin-top: 40px;
  height: 120px;
}

.ufps-container-sign .ufps-logo-sign-in {
  margin-top: 20px;
  height: 80px;
}

.ufps-form-sign {
  margin-top: 30px;
}

.ufps-container-sign h1 {
  font-size: 24px;
}

.ufps-container-sign h1,
.ufps-container-sign label,
.ufps-container-sign p {
  color: #FFF;
}

.ufps-container-sign .ufps-sign-input,
.ufps-navbar-input {
  box-shadow: 0 0 10px #C0392B;
  border: none;
  height: 45px;
  border-radius: 2px;
  font-size: 16px;
  transition: all .3s ease;
}

.ufps-navbar-input {
  box-shadow: none;
}

.ufps-input-navbar-addon {
  background-color: #FFF;
  border: none;
  cursor: pointer;
}

.ufps-navbar-input:focus {
  box-shadow: none;
}

.ufps-container-sign .ufps-btn-sign {
  width: 100%;
  height: 45px;
  border: 1px solid #ECF0F1;
  color: #FFF;
  font-size: 16px;
  border-radius: 2px;
  background-color: transparent;
  margin-top: 20px;
  transition: all .3s ease;
}

.ufps-container-sign .ufps-btn-sign:hover,
.ufps-container-sign .ufps-btn-sign:active,
.ufps-container-sign .ufps-btn-sign:hover:active,
.ufps-container-sign .ufps-btn-sign:focus {
  background-color: #FFF;
  color: #C0392B;
  box-shadow: 0 0 10px #C0392B;
}

.ufps-container-sign .ufps-btn-sign:focus {
  outline: 0;
  background-color: #FFF;
  border: 1px solid #BDC3C7;
}

.ufps-sign-links {
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.ufps-sign-links,
.ufps-sign-links a {
  color: #FFF;
  cursor: pointer;
}

.ufps-sign-about {
  margin-top: 40px;
}

.ufps-sign-about p {
  color: #FFF;
  font-size: 14px;
}

/*Formulario de registro*/

.ufps-form-inline {
  position: relative;
  margin-bottom: 20px;
}

.ufps-form-inline input {
  font-size: 14px;
  padding: 5px 10px 7px 5px;
  background: transparent;
  display: block;
  width: 100%;
  border: none;
  color: #FFF;
  border-bottom: 1px solid #FFF;
}

.ufps-form-inline input:focus {
  outline: none;
}

.ufps-form-inline label {
  color: #FFF;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.ufps-form-inline input:focus~label,
.ufps-form-inline input:valid~label {
  top: -14px;
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
}

.ufps-form-inline .ufps-form-bar {
  position: relative;
  display: block;
  width: 100%;
}

.ufps-form-inline .ufps-form-bar:before,
.ufps-form-inline .ufps-form-bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #FFF;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.ufps-form-inline .ufps-form-bar:before {
  left: 50%;
}

.ufps-form-inline .ufps-form-bar:after {
  right: 50%;
}

.ufps-form-inline input:focus~.ufps-form-bar:before,
.ufps-form-inline input:focus~.ufps-form-bar:after {
  width: 50%;
}

/*Navbar*/

.ufps-navbar {
  background-color: #344958;
  border-radius: 0;
  border: none;
  height: 65px;
}

.ufps-brand {
  height: 65px;
  padding: 5px 15px 5px 15px;
}

.ufps-brand img {
  height: 55px;
}

.ufps-btn-nav a {
  height: 65px;
  padding-left: 18px !important;
  padding-right: 18px !important;
  line-height: 35px !important;
  font-size: 16px;
  color: #ACB2B6;
  transition: all .3s ease;
}

.ufps-btn-nav.active a {
  border-bottom: 6px solid #E74C3C;
  color: #FFF;
}

.ufps-btn-nav a:hover {
  background-color: transparent !important;
  color: #FFF !important;
}

.ufps-btn-nav.dropdown.open>a {
  background-color: transparent;
  color: #FFF !important;
  border-color: #FFF !important;
}

.ufps-dropdown-menu {
  border: none;
  border-radius: 0;
}

.ufps-dropdown-menu>li>a {
  height: 40px;
  line-height: 35px;
  color: #444 !important;
  border-bottom: 0px !important;
}

.ufps-dropdown-menu>li>a:hover {
  background-color: #E74C3C !important;
  color: #FFF !important;
}

.ufps-navbar-search {
  margin-top: 2px;
}

.ufps-avatar {
  width: 55px;
  height: 55px;
  border-radius: 2px;
}

.ufps-dropdown-user a {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

/*Barra de progreso*/

#nprogress .bar {
  background: #FFF !important;
  box-shadow: 0 0 10px rgba(155, 155, 155, .5);
  height: 4px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #FFF, 0 0 5px #FFF !important;
}

#nprogress .spinner-icon {
  border-top-color: #FFF !important;
  border-left-color: #FFF !important;
}

/*Notificaciones*/

.alert {
  position: fixed;
  z-index: 100;
  font-family: Helvetica Neue, Helvetica, san-serif;
  font-size: 16px;
  top: 65px;
  left: 30%;
  width: 40%;
  color: #444;
  padding: 10px;
  opacity: .9;
  text-align: center;
  background-color: #fff;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  transition: all .4s ease;
}

.alert:hover {
  opacity: 1;
}

.alert-success {
  background-color: #18bc9c;
  color: #FFF;
}

.alert-danger {
  background-color: #e74c3c;
  color: #FFF;
}

.alert-info {
  background-color: #3498db;
  color: #FFF;
}

.alert-warning {
  background-color: #ff9800;
  color: #FFF;
}

.ufps-dropdown-menu {
  cursor: pointer;
}

.ufps-bg {
  position: absolute;
  top: 0;
  height: 100%;
  overflow-y: auto;
  left: 0;
  right: 0;
}

@media (min-width: 768px) {
  .ufps-bg {
    background-image: url(src/assets/img/bg-pc.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #34495E;
  }
}

.fix {
  clear: both;
}

.ufps-separator {
  width: 100%;
  height: 40px;
}

.ufps-separator-mini {
  width: 100%;
  height: 10px;
  
}

body {
  background-color: #ECF0F1;
}

.body-slot {
  padding-top: 65px;
  background-color: #ECF0F1;
}

hr {
  border-top: 1px solid #e74c3c;
}

.ufps-navbar {
  background-color: #e74c3c;
}

.ufps-btn-nav.active a {
  border-bottom: 10px solid #ffffff;
  color: #FFF;
}

.ufps-btn-nav a {
  color: #eee;
}

.ufps-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: 3px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin-top: 25px;
}

.ufps-card-title {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #FFF;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
  height: 100px;
  position: relative;
}

.ufps-card-material {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 130px;
}

.ufps-card-container a,
.ufps-card-container a:hover,
.ufps-card-container a:active {
  cursor: pointer;
  text-decoration: none !important;
}

.ufps-edit-category,
.ufps-remove-category {
  position: absolute;
  top: 5px;
  opacity: .4;
  transition: all .3s ease;
  cursor: pointer;
  color: #FFF !important;
}

.ufps-edit-category {
  left: 5px;
}

.ufps-remove-category {
  right: 5px;
}

.ufps-card-container:hover .ufps-edit-category,
.ufps-card-container:hover .ufps-remove-category {
  opacity: 1;
}

.ufps-card-container:nth-child(3n + 0) .ufps-card-title {
  background: #87e0fd;
  background: -moz-linear-gradient(left, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  background: -webkit-linear-gradient(left, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  background: linear-gradient(to right, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0', GradientType=1);
}

.ufps-card-container:nth-child(3n + 1) .ufps-card-title {
  background: #e74c3c;
  background: -moz-linear-gradient(left, #e74c3c 0%, #e74c3c 40%, #9e2424 100%);
  background: -webkit-linear-gradient(left, #e74c3c 0%, #e74c3c 40%, #9e2424 100%);
  background: linear-gradient(to right, #e74c3c 0%, #e74c3c 40%, #9e2424 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e74c3c', endColorstr='#9e2424', GradientType=1);
}

.ufps-card-container:nth-child(3n + 2) .ufps-card-title {
  background: #1abc9c;
  background: -moz-linear-gradient(left, #1abc9c 0%, #1abc9c 40%, #27ae60 100%);
  background: -webkit-linear-gradient(left, #1abc9c 0%, #1abc9c 40%, #27ae60 100%);
  background: linear-gradient(to right, #1abc9c 0%, #1abc9c 40%, #27ae60 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1abc9c', endColorstr='#27ae60', GradientType=1);
}

.ufps-card-new {
  cursor: pointer;
}

.ufps-card-new .ufps-card-title {
  background: #BBB !important;
}

.ufps-card-title h1 {
  margin: 0;
  font-size: 22px;
  text-align: center;
  position: relative;
  color: #FFF !important;
  padding-left: 3%;
  padding-right: 3%;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ufps-card-title h1 span {
  border: 4px solid #FFF;
  border-radius: 50%;
  padding: 6px 6px 8px 7px;
}

.ufps-card-link {
  padding-top: 5px;
  padding-bottom: 5px;
}

.ufps-card-link a,
.ufps-card-link a:hover {
  color: #555;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 14px;
}

tr:nth-child(even) {
  background-color: #F2F2F2;
}

tr:nth-child(odd) {
  background-color: #FFF;
}

th {
  background-color: #e74c3c;
  color: white;
}

.dropdown-inline {
  display: inline;
}

.dropdown-mini {
  min-width: 0;
  margin-top: 11px;
}

.ufps-dropdown button,
.ufps-dropdown button:hover,
.ufps-dropdown button:focus,
.ufps-dropdown button:active {
  border-radius: 0;
  border: none;
  background-color: transparent !important;
  border-bottom: 3px solid #e74c3c !important;
  outline: none !important;
  box-shadow: none !important;
}

/* PAGINACIÓN */

.pagination>li>a,
.pagination>li>span {
  color: #666;
  cursor: pointer;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #444;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
  color: #BBB;
}

/*FIXES*/

.modal-backdrop.in {
  filter: alpha(opacity=90);
  opacity: .9;
}

.modal-content {
  border-radius: 0px;
}

.form-control,
.form-control:focus {
  border-radius: 2px;
  border-color: #AAA;
  box-shadow: none;
}

/*BOTONES*/

.ufps-btn-default,
.ufps-btn-default:hover,
.ufps-btn-default:focus,
.ufps-btn-default:active {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #FFF;
  outline: 0;
}

.ufps-input-creator input.form-control,
textarea.form-control {
  border-right: 0;
}

.ufps-input-creator .form-control {
  border-color: #CCC;
}

.ufps-input-creator textarea.form-control {
  height: 100px;
}

.ufps-input-creator span.input-group-addon,
.ufps-input-creator span.input-group-addon:hover,
.ufps-input-creator span.input-group-addon:active {
  background-color: #FFF !important;
  border-left: none !important;
  border-radius: 2px !important;
}

.nav-pills.nav-maraton>li>a,
.nav-maraton.nav-pills>li>a:hover,
.nav-maraton.nav-pills>li>a:focus {
  color: #444;
  cursor: pointer;
}

.nav-pills.nav-maraton>li.active>a,
.nav-maraton.nav-pills>li.active>a:hover,
.nav-maraton.nav-pills>li.active>a:focus {
  background-color: #e74c3c !important;
  color: #FFF !important;
}

.nav>li.disabled>a {
  cursor: not-allowed !important;
}

.ufps-input-creator select {
  border-color: #CCC;
  border-radius: 2px;
  border-right: 0;
}

.inputfile-btn {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile-btn+label {
  width: 90%;
  background-color: #e74c3c;
  color: #FFF;
  border-radius: 2px;
  padding: 6px;
  float: right;
  text-align: center;
  height: 20px;
  box-sizing: content-box;
  transition: all .3s ease;
  cursor: pointer;
}

.inputfile-btn:focus+label,
.inputfile-btn+label:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

/*EDITOR*/

.editor-toolbar.fullscreen,
.CodeMirror-fullscreen,
.editor-preview-side {
  z-index: 10000 !important;
}

.ufps-btn-submit,
.ufps-btn-submit:hover,
.ufps-btn-submit:active,
.ufps-btn-submit:focus {
  margin-top: 20px;
  background-color: #e74c3c;
  color: #FFF;
  border-radius: 2px;
  border-bottom: 3px solid #9a2b1f;
}

.ufps-language {
  color: #666;
}

.ufps-language .active,
.ufps-language .active a {
  color: #666;
  cursor: pointer;
}

.ufps-language .inactive,
.ufps-language .inactive a {
  color: #CCC;
  cursor: not-allowed;
}

a {
  cursor: pointer!important;
}

a.inactive {
  background-color: #e2a29b;
  cursor:not-allowed;
}

.ufps-name-problem-list,
.ufps-edit-problem-list {
  float: left;
}

.ufps-name-problem-list {
  margin-bottom: 0;
}

.ufps-name-problem-list-l {
  float: none !important;
}

.ufps-edit-problem-list {
  opacity: 0.4;
  cursor: pointer;
  color: #000;
  transition: all .3s ease;
  margin-left: 10px;
}

.ufps-td-problem:hover .ufps-edit-problem-list {
  opacity: 1;
}

/*MARKDOWN EDITOR*/

.ufps-problem-title {
  font-size: 32px;
  font-weight: bold;
}

.ufps-markdown-editor h1 {
  font-size: 28px;
  font-weight: bold;
}

.ufps-markdown-editor h2 {
  font-size: 28px;
}

.ufps-markdown-editor h3 {
  font-size: 22px;
}

.ufps-markdown-editor h4 {
  font-size: 20px;
}

.ufps-markdown-editor h5 {
  font-size: 18px;
}

.ufps-markdown-editor h6 {
  font-size: 16px;
}

.ufps-submit-form .input-group {
  width: 100%;
}

.ufps-submit-form .inputfile-btn+label {
  width: 100%;
  height: 32px;
  box-sizing: border-box;
  float: none;
}

.ufps-submit-form .ufps-btn-submit {
  width: 100%;
}

.ufps-name-problem-list a {
  color: #444;
}

.example-in-out {
  padding: 0;
}

.example-in-out pre {
  padding: 14px;
  margin: 0;
  border: none;
}

iframe {
  width: 100%;
}

.ufps-container-iframe {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.ufps-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-horizontal-assignment .control-label {
  text-align: left !important;
}

.ufps-font-size-small {
  font-size: 11px;
}

.ufps-score-correct,
.ufps-score-incorrect,
.ufps-score-judging,
.ufps-score-first,
.ufps-score-gold {
  background-image: url(src/assets/img/score-bg.png);
  margin: auto;
  width: 32px;
  height: 35px;
}

tr:nth-child(2n+1) td .ufps-score-correct,
tr:nth-child(2n+1) td .ufps-score-incorrect,
tr:nth-child(2n+1) td .ufps-score-judging,
tr:nth-child(2n+1) td .ufps-score-first,
tr:nth-child(2n+1) td .ufps-score-gold {
  background-image: url(src/assets/img/score-light.png);
}

tr:nth-child(2n) td .ufps-score-correct,
tr:nth-child(2n) td .ufps-score-incorrect,
tr:nth-child(2n) td .ufps-score-judging,
tr:nth-child(2n) td .ufps-score-first,
tr:nth-child(2n) td .ufps-score-gold {
  background-image: url(src/assets/img/score-dark.png);
}

.ufps-score-correct {
  background-color: #e74c3c;
}

.ufps-score-incorrect {
  background-color: #999;
}

.ufps-score-judging {
  background-color: #ff988e;
  border-color: #ff988e;
}

.ufps-score-first {
  background-color: #a91b0d;
}

.ufps-score-gold {
  background-color: #d4af37;
}

.ufps-score>tbody>tr>td {
  padding-top: 2px;
  padding-bottom: 2px;
  height: 60px;
}

.disabled-select {
  cursor: not-allowed !important;
  opacity: 0.65;
}

.search-btn {
  background-color: transparent;
  border: none;
  height: 45px;
  width: 30px;
  position: absolute;
  right: 0;
  top: 0;
}

.form-group.ufps-navbar-search {
  position: relative;
}

.username-gray {
  color: #888;
}

.panel-space {
  padding: 15px 40px!important;
}

.breadcrumb li a {
  color: #e74c3c;
}

.breadcrumb {
  margin-top: 10px;
  background-color: transparent!important;
}

.container-contest .breadcrumb {
  margin-bottom: 0!important;
}
.container-contest h2 {
  margin-top: 0!important;
}

.link-register {
  color: #e74c3c;
}

.bread-mini {
  margin-bottom: 0;
}

.text-lg-a,.text-lg-a p {
  font-size: 18px;
}